<div class="container rounded text-center py-5">
    <img src="https://media2.giphy.com/media/jkZtSdwKOx05BOlapR/giphy.gif" alt="404 Not Found" class="pb-4">
    <br>
    <a href="/">← Back To Home</a>
</div>
