body {
    padding-top: 70px;
    margin-bottom: 70px;
    background-image: url("../images/colorful-paws.png");
    background-size: cover;
}

.container {
    background-color: white;
}

.rounded {
    border-radius: .5rem !important;
}

.navbar {
    background: rgb(244,104,112);
}

.btn {
    background: rgb(244,104,112);
    color: white;
}

.pet-img {
    width: 100%;
    height: 20vw;
    object-fit: cover;
}

.social {
    color: inherit;
}

.role {
    color: rgb(244,104,112);
}

.avatar-img {
    object-fit: cover;
}

.page-title {
    font-family: 'Pacifico', cursive;
}