.list-group-item {
  line-height: 2.5;
}

body {
  padding-top: 70px;
  margin-bottom: 70px;
}

.page-title {
  font-family: 'Pacifico', cursive;
}

.navbar, .page-footer {
  background: rgb(244,104,112);
} 

.btn-lg {
  background: rgb(244,104,112);
  color: white;
}

.jumbotron {
  position: relative;
  background-image: url("../images/cat-dog.jpg");
  background-size: cover;
  background-position: center;
  min-height: 690px !important;
}

.jumbotron > .overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgb(119,124,133, 0.7);
  z-index: 1;
}

.jumbotron > .inner {
  position: relative;
  z-index: 2;
}
